<!doctype html>
<html lang="ru">
{% load user_filters %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block extra_styles %}{% endblock %}
</head>
<body class="body">
<header class="header">
    {% block header %}
    {% if is_user_authenticated %}
    {% include "includes/navAuth.html" %}
    {% else %}
    {% include "includes/navNotAuth.html" %}
    {% endif %}
    {% endblock %}
</header>
<main class="main container">
    {% block content %}{% endblock %}
</main>
{% include "includes/footer.html" %}

<script src="{% static 'js/components/MainCards.js' %}"></script>

<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>

{% block extra_scripts %}{% endblock %}

</body>
</html>
