<div class="card" data-id="{{ recipe.id }}">
    <!--        token here is necessary due to POST requests in favorites and purchases -->
    {% csrf_token %}
    {% load thumbnail %}
    {% thumbnail recipe.image "960x339" crop="center" upscale=True as im %}
        <img class="card__image" src="{{ im.url }}" alt="какой-то текст"/>
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.id %}"
           target="_blank">{{ recipe.name }}</a>
        <ul class="card__items">
            {% for tag in recipe.tags.all %}
                <li class="card__item"><span
                        class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span>
                </li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a
                    href="{% url 'profile' recipe.author %}" style="color: black">{{ recipe.author.first_name }}</a></p>
        </div>
    </div>
    {% if is_user_authenticated %}
    <div class="card__footer">
        {% if recipe.id in in_shop_list %}
            <button class="button button_style_light-blue-outline"
                    name="purchases"><span class="icon-check button__icon"></span>
                Рецепт добавлен
            </button>
        {% else %}
            <button class="button button_style_blue" name="purchases" data-out>
                <span class="icon-plus"></span> Добавить в покупки
            </button>
        {% endif %}
        {% if recipe.id in in_favorite %}
            <button class="button button_style_none" name="favorites"><span
                    class="icon-favorite icon-favorite_active"></span></button>
        {% else %}
            <button class="button button_style_none" name="favorites" data-out>
                <span class="icon-favorite"></span>
        {% endif %}
        </button>
    </div>
    {% endif %}
</div>
