<ul class="tags">
    {% load user_filters %}

    <li class="tags__item">
        {% if 'breakfast=off' in request.get_full_path %}
            <a id="breakfast" class="tags__checkbox tags__checkbox_style_orange" href="?{% query_transform request breakfast=None %}"></a>
            <span class="tags__label">Завтрак</span>
        {% else %}
            <a id="breakfast" class="tags__checkbox tags__checkbox_style_orange tags__checkbox_active" href="?{% query_transform request breakfast='off'%}"></a>
            <span class="tags__label">Завтрак</span>
        {% endif%}
    </li>
    <li class="tags__item">
        {% if 'lunch=off' in request.get_full_path %}
            <a id="lunch" class="tags__checkbox tags__checkbox_style_green" href="?{% query_transform request lunch=None %}"></a>
            <span for="lunch" class="tags__label">Обед</span>
        {% else %}
            <a id="lunch" class="tags__checkbox tags__checkbox_style_green tags__checkbox_active" href="?{% query_transform request lunch='off' %}"></a>
            <span for="lunch" class="tags__label">Обед</span>
        {% endif%}
    </li>
    <li class="tags__item">
        {% if 'dinner=off' in request.get_full_path %}
            <a id="dinner" class="tags__checkbox tags__checkbox_style_purple" href="?{% query_transform request dinner=None %}"></a>
            <label for="dinner" class="tags__label">Ужин</label>
        {% else %}
            <a id="dinner" class="tags__checkbox tags__checkbox_style_purple tags__checkbox_active" href="?{% query_transform request dinner='off' %}"></a>
            <label for="dinner" class="tags__label">Ужин</label>
        {% endif%}
    </li>
</ul>
