<!doctype html>
<html lang="en">
{% load user_filters %}
{% csrf_token %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Рецепты</title>
        {% load static %}
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
</head>
<body class="body">
  <header class="header">
      <nav class="nav">
          <div class="nav__container container">
              <ul class="nav__items list">
                  <li class="nav__item nav__item_active"><a href="/home" class="nav__link link">Рецепты</a></li>
                  <li class="nav__item"><a href="/follow" class="nav__link link">Мои подписки</a></li>
                  <li class="nav__item"><a href="/new" class="nav__link link">Создать рецепт</a></li>
                  <li class="nav__item"><a href="/favorite-recipes" class="nav__link link">Избранное</a></li>
                  <li class="nav__item"><a href="/purchases-list" class="nav__link link">Список покупок</a><span class="badge badge_style_blue nav__badge" id="counter">{{ counter }}</span></li>

              </ul>
              <ul class="nav__items list">
                   <li class="nav__item"><a href="auth/password-change" class="nav__link link">Изменить пароль</a></li>
                  <li class="nav__item"><a href="{% url 'logout'%}" class="nav__link link">Выход</a></li>
              </ul>
          </div>
      </nav>
  </header>
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            <ul class="tags">

                <li class="tags__item">
                    {% if 'breakfast=off' in request.get_full_path %}
                    <a id="breakfast" class="tags__checkbox tags__checkbox_style_orange" href="?{% query_transform request breakfast=None %}"></a>
                    <span class="tags__label">Завтрак</span>
                    {% else %}
                    <a id="breakfast" class="tags__checkbox tags__checkbox_style_orange tags__checkbox_active" href="?{% query_transform request breakfast='off'%}"></a>
                    <span class="tags__label">Завтрак</span>
                    {% endif%}
                </li>
                <li class="tags__item">
                    {% if 'lunch=off' in request.get_full_path %}
                    <a id="lunch" class="tags__checkbox tags__checkbox_style_green" href="?{% query_transform request lunch=None %}"></a>
                    <span for="lunch" class="tags__label">Обед</span>
                    {% else %}
                    <a id="lunch" class="tags__checkbox tags__checkbox_style_green tags__checkbox_active" href="?{% query_transform request lunch='off' %}"></a>
                    <span for="lunch" class="tags__label">Обед</span>
                    {% endif%}
                </li>
                <li class="tags__item">
                    {% if 'dinner=off' in request.get_full_path %}
                    <a id="dinner" class="tags__checkbox tags__checkbox_style_purple" href="?{% query_transform request dinner=None %}"></a>
                    <label for="dinner" class="tags__label">Ужин</label>
                    {% else %}
                    <a id="dinner" class="tags__checkbox tags__checkbox_style_purple tags__checkbox_active" href="?{% query_transform request dinner='off' %}"></a>
                    <label for="dinner" class="tags__label">Ужин</label>
                    {% endif%}
                </li>
            </ul>
        </div>


        <div class="card-list">

            {% for recipe in page %}
                {% include "recipe_onpage.html" with recipe=recipe %}
            {% endfor %}

        </div>


         {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator %}
        {% endif %}

    </main>
    <footer class="footer">
        <div class="footer__container container">
            <a href="#" class="footer__brand link">Продуктовый помощник</a>
            <ul class="footer__items">
                <li class="footer__item"><a href="#" class="footer__link link">Об авторе </a></li>
                <li class="footer__item"><a href="#" class="footer__link link">Технологии</a></li>
            </ul>
        </div>
    </footer>
  <script src="{% static 'js/components/MainCards.js' %}"></script>

  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>

  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>

  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'indexAuth.js' %}"></script>
</body>
</html>
