<!doctype html>
<html lang="en">
{% csrf_token %}
{% load thumbnail %}
{% load user_filters %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мои подписки</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
</head>
<body class="body">
<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                <li class="nav__item"><a href="/home" class="nav__link link">Рецепты</a></li>
                <li class="nav__item nav__item_active"><a href="/follow" class="nav__link link">Мои подписки</a></li>
                <li class="nav__item"><a href="/new" class="nav__link link">Создать рецепт</a></li>
                <li class="nav__item"><a href="/favorite-recipes" class="nav__link link">Избранное</a></li>
                <li class="nav__item"><a href="/purchases-list" class="nav__link link">Список покупок</a><span class="badge badge_style_blue nav__badge" id="counter">{{ counter }}</span></li>

            </ul>
            <ul class="nav__items list">
               <li class="nav__item"><a href="auth/password-change" class="nav__link link">Изменить пароль</a></li>
                <li class="nav__item"><a href="{% url 'logout'%}" class="nav__link link">Выход</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
    {% for author in authors %}
        <div class="card-user" data-author={{ author.id }}>
        <div class="card-user__header">
            <h2 class="card-user__title">{{ author.first_name }}</h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                {% for recipe in recipes_from_author_id|lookup:author.id %}
                <li class="card-user__item">
                    <div class="recipe">
                        {% thumbnail recipe.image  "350x339" crop="center" upscale=True as im %}
                         <img  class="recipe__image" src="{{ im.url }}" alt="какой-то текст" />
                        {% endthumbnail %}
                        <h3 class="recipe__title">{{ recipe.name }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{recipe.cooking_time }} минут</p>
                    </div>
                </li>
                {% endfor %}
                {% if recipe_count_from_author_id|lookup:author.id > 0 %}
                <li class="card-user__item">
                    <a href="/{{ author }}/" class="card-user__link link">Еще рецептов: {{ recipe_count_from_author_id|lookup:author.id }}</a>
                </li>
                {% endif %}

            </ul>
        </div>

        <div class="card-user__footer">
            <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
        </div>
    {% endfor %}
    </div>

    {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator %}
        {% endif %}
</main>
<footer class="footer">
    <div class="footer__container container">
        <a href="#" class="footer__brand link">Продуктовый помощник</a>
        <ul class="footer__items">
            <li class="footer__item"><a href="#" class="footer__link link">Об авторе </a></li>
            <li class="footer__item"><a href="#" class="footer__link link">Технологии</a></li>
        </ul>
    </div>
</footer>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>

</body>
</html>
