{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}


{% block content %}
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>

    <div class="form-container">
        <form class="form" method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form__group">
                    <label class="form__label" for="id_{{ field.name }}">{{ field.label_tag }}</label>
                    <div class="form__field-group">
                        <input type="password" name="{{ field.name }}" class="form__input" maxlength="100" required id="id_{{ field.name }}">
                        <span class="form__error">{{ field.errors }}</span>
                    </div>
                </div>
            {% endfor %}
            <div class="form__footer">
                <button type=submit class="button button_style_blue">Изменить пароль</button>
            </div>
        </form>
    </div>
{% endblock %}
