{% extends "base.html" %}
{% load static %}
{% load user_filters %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Избранное</h1>
        {% include "includes/tags.html" %}
    </div>

    <div class="card-list">
        {% for recipe in page %}
            {% include "includes/recipe_on_page.html" with recipe=recipe in_shop_list=in_shop_list in_favorite=in_favorite is_user_authenticated=is_user_authenticated %}
        {% endfor %}
    </div>

    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'favorite.js' %}"></script>
{% endblock %}
