<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
</head>
<body class="body">
<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                <li class="nav__item nav__item_disabled"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
            </ul>
            <ul class="nav__items list">
                <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="main container">
    <div class="custom-center-block">
            <p class="custom-text-block">Вы успешно вышли из системы!</p>
        <div class="custom-button-block">
            <button type=submit class="button button_style_blue"><a href="{% url 'index' %}" class="nav__link link" >Перейти на главную</a></button>
        </div>
    </div>


</main>
{% include "footer.html" %}
</body>
</html>
