{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load user_filters %}

{% block title %}
<title>Мои подписки</title>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
    {% for author in authors %}
        <div class="card-user" data-author={{ author.id }}>
        <div class="card-user__header">
            <h2 class="card-user__title">{{ author.first_name }}</h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                {% for recipe in recipes_from_author_id|lookup:author.id %}
                <li class="card-user__item">
                    <div class="recipe">
                        {% thumbnail recipe.image  "350x339" crop="center" upscale=True as im %}
                         <img  class="recipe__image" src="{{ im.url }}" alt="какой-то текст" />
                        {% endthumbnail %}
                        <h3 class="recipe__title">{{ recipe.name }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span>
                            {{recipe.cooking_time }} минут</p>
                    </div>
                </li>
                {% endfor %}
                {% if recipe_count_from_author_id|lookup:author.id > 0 %}
                <li class="card-user__item">
                    <a href="/{{ author }}/" class="card-user__link link">Еще рецептов: {{ recipe_count_from_author_id|lookup:author.id }} шт. </a>
                </li>
                {% endif %}

            </ul>
        </div>

        <div class="card-user__footer">
            <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
        </div>

    {% endfor %}
    </div>

    {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator %}
        {% endif %}
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>
{% endblock extra_scripts %}
