<!doctype html>
<html lang="en">
{% load user_filters %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Рецепты</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
</head>
<body class="body">
  <header class="header">
      <nav class="nav">
          <div class="nav__container container">
              <ul class="nav__items list">
                  <li class="nav__item nav__item_active"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                  <li class="nav__item"><a href="{% url 'profile_follow' %}" class="nav__link link" >Мои подписки</a></li>
                  <li class="nav__item"><a href="{% url 'new_recipe' %}" class="nav__link link">Создать рецепт</a></li>
                  <li class="nav__item"><a href="{% url 'favorite_recipes' %}" class="nav__link link">Избранное</a></li>
                  <li class="nav__item"><a href="{% url 'purchases_list' %}" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">{{ counter }}</span></li>

              </ul>
              <ul class="nav__items list">
                 <li class="nav__item"><a href="{% url 'change_password'%}" class="nav__link link">Изменить пароль</a></li>
                  <li class="nav__item"><a href="{% url 'logout'%}" class="nav__link link">Выход</a></li>
              </ul>
          </div>
      </nav>
  </header>

<main class="main container">
    <div class="custom-center-block">
            <p class="custom-text-block">Упс! Страница находится в разработке. Обязательно вернитесь сюда чуть позже :) </p>
        <div class="custom-button-block">
            <button class="button button_style_blue"><a href="{% url 'index' %}" class="nav__link link" >Перейти на главную</a></button>
        </div>
    </div>


</main>
{% include "footer.html" %}
</body>
</html>
